<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<%- include(`${partials}/header_main`); -%>
<pre id="log">
***************************** NOVA NETWORK ***************************************
    
*************** 👨‍🌾 UNOFFICIAL QUASARSWAP FARMING CALCULATOR 👨‍🌾 ****************
INFO  : https://quasarswap.net
**********************************************************************************

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'nova_quasar'}); -%>
</body>
</html> 
